@import '../../__data__/styles/colors';
@import '../../__data__/styles/sizes';

.container-slideshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-slideshow-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4.25rem;
}

.img-slide {
  width: 53%;
  height: 25rem;
  border-radius: 0.3125rem;
  margin-right: $offset-sm;
  margin-left: $offset-sm;
}

.button-slide {
  width: 2.5rem;
  height: 2.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.button-slide-img-left {
  width: 2.2rem;
  height: 2.2rem;
  transform: rotate(270deg);
  opacity: 0.7;
}

.button-slide-img-right {
  width: 2.2rem;
  height: 2.2rem;
  transform: rotate(90deg);
  opacity: 0.7;
}

.select-container {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  justify-content: space-evenly;
}

.button-change {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $offset-sm;
  cursor: pointer;
  width: 5rem;
  height: 1.5rem;
  background-color: $pink;
  outline: none;
  border: 1px solid $black;
  border-radius: 0.3125rem;
  color: $black;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.3s;
  animation-name: fade;
  animation-duration: 1.3s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

