@import '../../__data__/styles/colors';
@import '../../__data__/styles/sizes';

.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.75rem;
  width: 100vw;
  background: linear-gradient(360deg, rgba(210, 143, 150, 0) 0%, rgba(210, 143, 150, 0.523958) 52.4%, #D28F96 100%);
  top: 0;
}

.logo {
  width: 3rem;
  height: 3rem;
  margin-left: $offset-bmd;
}

.text-logo {
  font-family: 'Inter-SemiBold', sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 2.3rem;
  margin-left: $offset-md;
}

.header-ref {
  text-decoration: none;
}

.header-link {
  text-decoration: none;
  color: $white;
  font-size: 1.25rem;
}